.error{
    color:red;
  }
  #otp_grp{
    display: none;
  }
  .btn{
    padding: 0.6rem 1.14rem !important;
    border: 1px solid transparent;
  }
  #bg_img{
    opacity: 0.6;
  }

  #form_container{
    margin-top: 160px;
    background-color: white;
    padding: 28px;
  }

  .error {
      margin-top: 7%;
      color: red !important;
  }

  #details{
    margin-left: 30%;
    width: unset;
    margin-top: -3%;
  }

  #ip_address{
    margin-top: 8%
  }
